/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1100px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 700px;
    }
}

.top-nav-collapse {
    background-color: var(--color-principal)!important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: var(--color-principal)!important;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: var(--color-principal)!important;
    }
}

h6 {
    line-height: 1.7;
}

